.ThemeContainer{
  display:flex;
  align-items: center;
}

.ThemeImg{
  background: grey;
  height: 36px;;
  width:36px;
  border:round;
  border-radius:100%;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor:pointer;
  background:grey;
  border-color: grey;
}

.ThemeImg img{
  width:24px;
  height:24px;
  object-fit:contain;
}